* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #b60f14;
}
.navbar {
  background-color: #000000;
  padding: 10px 0;
  text-align: center;
}
.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #03f9e8;
  padding: 10px 20px;
  font-weight: bold;
}
.navbar ul li a:hover {
  background-color: rgb(72, 179, 39);
}
footer {
  background-color: #000000;
  color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
footer a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}
footer a:hover {
  text-decoration: underline;
}
section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #020101;
  border: 1px solid #0b0000;
}
section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
section p {
  margin-bottom: 10px;
}
section img {
  max-width: 100%;
}
